<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.dm7.barcodescanner.zbar.sample">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".FullScannerActivity"
            android:label="@string/scanner_activity"
            android:theme="@style/AppOverlayTheme"
            android:uiOptions="splitActionBarWhenNarrow">
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
        </activity>
        <activity
            android:name=".FullScannerFragmentActivity"
            android:label="@string/scanner_fragment_activity"
            android:theme="@style/AppOverlayTheme"
            android:uiOptions="splitActionBarWhenNarrow">
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
        </activity>
        <activity
            android:name=".SimpleScannerActivity"
            android:label="@string/simple_scanner_activity"
            android:theme="@style/AppOverlayTheme" />
        <activity
            android:name=".SimpleScannerFragmentActivity"
            android:label="@string/simple_scanner_fragment_activity"
            android:theme="@style/AppOverlayTheme" />
        <activity
            android:name=".LaunchActivity"
            android:theme="@style/shopsesh" />
        <activity
            android:name=".MenuActivity"
            android:theme="@style/shopsesh">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ShoppingList"
            android:theme="@style/shopsesh" />
        <activity
            android:name=".ShopScan"
            android:theme="@style/shopsesh" />
        <activity
            android:name=".ShopComplete"
            android:theme="@style/shopsesh" />
        <activity android:name=".Nav"
            android:theme="@style/shopsesh"></activity>
    </application>

</manifest>